.wrapper {
    width: 320px;
}

.logo {
    div {
        color: #e4010b;
        font-weight: 700;
        font-size: 21px;
        margin-top: -66px;
        position: absolute;
    }

    img {
        width: 136px;
        object-fit: cover;
        margin: 50px 0 50px -16px;
        position: relative;
    }
}

.content {
    display: flex;
    flex-direction: column;
    color: #1c2024;
    font-weight: 500;
    font-size: 22px;
    justify-content: center;

    .home {
        width: 100%;
        background-color: #eff1f5;
        margin-bottom: 4px;
        padding: 12px 0 12px 10px;

        &:hover {
            background-color: #cf2338;
            color: #eff1f5;
        }
    }

    .user {
        width: 100%;
        background-color: #eff1f5;
        margin-bottom: 4px;
        padding: 12px 0 12px 10px;

        &:hover {
            background-color: #cf2338;
            color: #eff1f5;
        }
    }

    .asset {
        width: 100%;
        background-color: #eff1f5;
        margin-bottom: 4px;
        padding: 12px 0 12px 10px;

        &:hover {
            background-color: #cf2338;
            color: #eff1f5;
        }
    }

    .assignment {
        width: 100%;
        background-color: #eff1f5;
        margin-bottom: 4px;
        padding: 12px 0 12px 10px;

        &:hover {
            background-color: #cf2338;
            color: #eff1f5;
        }
    }

    .request {
        width: 100%;
        background-color: #eff1f5;
        margin-bottom: 4px;
        padding: 12px 0 12px 10px;

        &:hover {
            background-color: #cf2338;
            color: #eff1f5;
        }
    }

    .return {
        width: 100%;
        background-color: #eff1f5;
        padding: 12px 0 12px 10px;

        &:hover {
            background-color: #cf2338;
            color: #eff1f5;
        }
    }
}
